/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8a2be2, #ff66b2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins;
  }
  
  body.min-h-screen {
    min-height: 100vh;
  }
  
  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding-left: 1rem; /* Add some spacing to the left */
  }
  .product-name {
    color: #f8f8f8;
    font-size: 40px;
    font-weight: bolder; 
  }
  
  .profile-link {
    display: inline-block;
    padding: 1rem 3rem; /* Make the button larger */
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: #f8f8f8;
    color: #DA9CDF;
    transition: background-color 0.3s, color 0.3s;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .profile-link:hover {
    background-color: #DA9CDF;
    color: #ffffff;
  }
  