/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.image-container {
    position: relative;
  }
  
  .landing-image {
    position: absolute;
    top: 25vw; /* Position from top */
    left: 65%; /* Position from left */
    transform: translate(-50%, -50%); /* Center the image */
    max-width: 100%; /* Ensure image doesn't exceed container */
  }

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8a2be2, #ff66b2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins;
  }
  
  body.min-h-screen {
    min-height: 100vh;
  }
  
  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 20vw;
    padding-left: 1vw; /* Add some spacing to the left */
  }
  
  .login-link {
    display: inline-block;
    padding: 1vw 5vw; /* Make the button larger */
    border-radius: 2vw;
    text-decoration: none;
    background-color: #f8f8f8;
    color: #DA9CDF;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 1vw;
    margin-left: 10vw; 
    font-size: 2vw;
    font-weight: bolder;/* Add space below the middle */
  }

  .product-name {
    color: #f8f8f8;
    font-size: 5vw;
    font-weight: bolder;
    margin-left: 10vw;
    margin-bottom: 2vw;
  }

  .product-description {
    color: #f8f8f8;
    font-size: 2vw;
    font-weight: bolder;
    margin-left: 10vw;
  }
  
  .google-link {
    display: inline-block;
    padding: 1vw 5vw; 
    border-radius: 2vw;
    text-decoration: none;
    background-color: #f8f8f8;
    color: #DA9CDF;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2vw;
    margin-left: 10vw; 
    font-size: 2vw;
    font-weight: bolder;
  }

  .google-link:hover,
  .login-link:hover {
    background-color: #DA9CDF;
    color: #ffffff;
  }
  