/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-poppins: "Poppins";
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8a2be2, #ff66b2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body.min-h-screen {
    min-height: 100vh;
  }
  
  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: #f8f8f8;
    color: #ff66b2;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-link:hover {
    background-color: #ff66b2;
    color: #ffffff;
  }

  #topRight{
    margin-left: 65vw;
  }

  #matchPercent{
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }
 
  #profileCard{
    margin-left:15vw;
  }

   