body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8a2be2, #ff66b2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins, sans-serif;
  }
  
  .product-name {
    color: #f8f8f8;
    font-size: 3vw;
    font-weight: bolder;
    margin: 1vw;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .description {
    color: #f8f8f8;
    font-size: 2vw;
    font-weight: bolder;
    margin: 1vw;
  }
  
  .participants {
    color: #f8f8f8;
    font-size: 2vw;
    font-weight: bolder;
    margin: 1vw;
  }
  
  .participants-count {
    color: #DA9CDF;
  }
  
  .container {
    display: grid;
    gap: 2vw; /* Gap between items */
    padding: 2vw;
    justify-content: center; /* Center align items horizontally */
  }
  
  .container p {
    margin: 1vw;
  }
  
  .add-user-button {
    margin: 2vw;
  }
.profile-image {
    position: absolute;
    top: 1vw; /* Adjust top position */
    right: 4vw; /* Adjust right position */
}
  
.error-message {
    background-color: #ff0000; /* Light green background */
    color: #ffffff; /* White text color */
    font-size: 1.6vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
  }
  
  /* Styling for success message */
  .success-message {
    background-color: #66bb6a; /* Light green background */
    color: #ffffff; /* White text color */
    font-size: 1.6vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
  }
  
  /* Styling for input */
  input {
    width: 100%;
    padding: 1vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #f8f8f8; /* Light background color */
    font-size: 1.6vw;
    color: #333; /* Dark text color */
    outline: none;
    margin-top: 1vw;
  }
  
  /* Styling for button */
  .join-button {
    padding: 1.5vw 3vw;
    border: none;
    border-radius: 1.5vw;
    text-decoration: none;
    background-color: #DA9CDF; /* Purple background color */
    color: #ffffff; /* White text color */
    font-size: 1.8vw;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 1.5vw;
  }
  
  .join-button:hover {
    background-color: #C875B8; /* Darker purple background color on hover */
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: space-between;
    margin-top:7vw; /* Spread items evenly along the main axis */
    margin-left:14vw;
  }
  
  /* Style for each space-container */
  .space-container {
    width: 47%; /* Set width to allow two containers per row */
    margin-bottom: 2vw; /* Add some margin between rows */
    padding: 2vw;
    background-color: #f8f8f8; /* Light background color */
    border-radius: 1.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content horizontally */
    text-align: center; /* Center align text */
  }
  
  /* Header styles */
  .header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1vw;
  }
  
  /* Space name styles */
  .space-name {
    color: #DA9CDF;
    font-size: 3vw; /* Slightly larger font size */
    font-weight: bold;
    margin: 0; /* Reset margin */
  }
  
  /* Organizer styles */
  .organizer {
    color: #777; /* Lighter text color */
    font-size: 1.5vw;
    margin: 0; /* Reset margin */
  }
  /* Space description styles */
  .space-description {
    color: #333; /* Darker text color */
    font-size: 1.6vw; /* Adjusted font size */
    margin: 0vw 0;
  }
  
  /* Participants styles */
  .participants {
    color: #777; /* Lighter text color */
    font-size: 1.4vw; /* Adjusted font size */
    margin: 0vw 0;
  }
  
  /* Button Styles */
  .add-user-button {
    display: inline-block;
    padding: 1.5vw 3vw;
    border-radius: 1.5vw;
    text-decoration: none;
    background-color: #DA9CDF;
    color: #ffffff;
    font-size: 1.8vw;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 1.5vw; /* Add some top margin */
  }

  .search-bar {
    margin-bottom: 1rem; /* Add some spacing below the search bar */
  }
  
  .search-bar input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #f8f8f8;
    font-size: 1.5rem;
    color: #333;
    outline: none;
  }
  
  .search-bar input::placeholder {
    color: #aaa;
  }
  
  .search-bar input:focus {
    background-color: #fff;
  }
  
  .add-user-button:hover {
    background-color: #C875B8;
  }

  .public { /* Purple background color */
    color: #333; /* White text color */
    font-size: 1.4vw;
    padding: 0.5vw 1vw;
    font-weight:bolder;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
  }
  
  .events {
    display: flex;
    top: 7vw; /* Adjust top position */
    /* Adjust left position */
    justify-content:center;
    color: #f8f8f8;
    font-size:5vw;
    font-weight: bolder;
  }